/**
 *    DEFAULT STYLE
 */

.droppelganger-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.droppelganger-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.droppelganger-item.moving {
    position: absolute;
    z-index: 1000;
    
}

.droppelganger-container.container-hovered {
    
}

.droppelganger-item, .droppelganger-item-handler {
    cursor: grab;
}

.droppelganger-item.moving, 
.droppelganger-item.moving .droppelganger-item-handler{
    cursor: grabbing;
}